<h1>Login</h1>

<%= form_with(url: user2s_login_path) do |form| %>
  <%= form.label :username %>
  <%= form.text_field :username, name: "user2[username]" %>

  <%= form.label :password %>
  <%= form.password_field :password, name: "user2[password]" %>

  <%= form.submit "Login" %>
<% end %>
